 <div class ="row my-5">
   <div class="col-lg-8 mt-3"><!--商品一覧ページ-->
  <h2>商品一覧</h2>

  <table class = "table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>  <!--商品番号-->
        <td><%= link_to item.name, admin_item_path(item.id) %></td>  <!--商品名(リンクあり)-->
        <td><%= item.price.to_s(:delimited) %></td>  <!--税抜価格-->
        <td><%= item.genre.name %></td>  <!--ジャンル名-->
        <td><%=  item.sale_status %>

        </td>  <!--販売ステータス表示-->
      <% end %>
    </tbody>
  </table>
   <%= link_to "新規投稿", new_admin_item_path(@item.id),class: "glyphicon glyphicon-pencil btn btn-success center-block" %>  <!--新規投稿フォームへ-->
  </div>
</div>