<h2>商品詳細</h2>  <!--商品詳細ページ-->

<%= image_tag @item.get_image(100,100) %>

<h4>商品名</h4>  <!--商品名-->
<%= @item.name %>

<h4>商品説明</h4>  <!--商品説明-->
<%= @item.text %>

<h4>ジャンル</h4>  <!--ジャンル-->
<%= @item.genre.name %>

<h4>
  税込価格<br>  <!--税込価格-->
  (税抜価格)
</h4>
<%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円

<h4>販売ステータス</h4>  <!--販売ステータス-->
<%= @item.sale_status %>

<%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
