<h2>ショッピングカート</h2>

<div class="col-5 ml-3">
        <table class="table">
  <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
  </thead>

  <tbody>
　　　<% @carts.each do |cart| %>
　　　  <tr>
　　　    <td><%= cart.item_id %></td>
　　　    <td>¥<%= cart.item.add_tax_price.to_s(:delimited)  %></td>
　　　    <td>
　　　     <%= form_with model: cart, url: customer_cart_path(cart.id), method: :patch do |f| %>
　         <%= f.select :amount, *[1..10] %>
　         <%= f.submit '変更' %>
           <% end %>
           </td>
　　　    <td>¥<%= cart.subtotal %></td>
　　　    <td><%= link_to '削除する', customer_cart_path(cart.id), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"}, class: 'btn btn-danger' %></td
　　　  </tr>
      <% end %>
  </tbody>
</table>
　¥<%= @total.round.to_s(:delimited) %>
</div>