<div class="row">
    <div class="mx-auto" style="background-color:#f5f5dc;">
      <div style="margin:0px 100px;">
        <h2 class="font-weight-bold d-flex justify-content-center" style="color:#66583f">Welcome</h2><br>
        <p class="d-flex justify-content-center" style="color:#332c20">ようこそ、NaganoCakeへ！</p>
        <p class="d-flex justify-content-center" style="color:#332c20">このサイトは、ケーキ販売のECサイトになります</p>
        <p class="d-flex justify-content-center" style="color:#332c20">会員でない方も商品の閲覧はできますが、</p>
        <p class="d-flex justify-content-center" style="color:#332c20">購入には会員登録が必要になります。</p>
      </div>
  </div>
</div>




<div class="row justify-content-center pt-5">
  <div class=class="p-2 bd-highlight">
    <h3 class="font-weight-bold " style="color:#66583f">新着商品</h3>
  </div>
</div>

<div class="row justify-content-center m-3">
  <% @items.last(6).each do |item| %>
    <div class="d-flex justify-content-evenly">
      <div class="px-5 py-1 bd-highlight">
        <%if item.sale_status=="販売中" %>
          <%= link_to customer_item_path(item) do %>
            <div cals><%= image_tag item.get_image(200,200) %></div>
            <div class="font-weight-bold " style="color:#332027"><%= item.name %></div>
            <div class="font-weight-bold " style="color:#332027"><%= item.price.to_s(:delimited) %>円(税込)</div>
          <% end %>
        <%end%>
      </div>
    </div>
  <%end%>
</div>

<div class="row justify-content-center" style="padding-bottom:60px">
  <div class="d-flex justify-content-evenly">
    <%=link_to customer_items_path,class: "link-dark" do %>
      <br><p class="font-weight-bold" style="color:#99845f">商品一覧</p>
    <%end%>
  </div>
</div>



